[submodule "bvh"]
	path = bvh
	url = https://github.com/madmann91/bvh.git
[submodule "cunk"]
	path = cunk
	url = git@github.com:Hugobros3/cunk
[submodule "imr"]
	path = imr
	url = https://github.com/shady-gang/imr.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
